span {
    border-style:solid;
    border-color: black;
    align-content: center;
    border-radius:30px;
    background-color: lightskyblue;
    left: 0;
    line-height: 100px;
    margin-top: -165px;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 100%;
} 
div.col-12 {
    text-align: center;
    background-color:purple;
    color:white;
}

input {
    border-radius:20px;
    height:20px
}
body {
    background-color:rgb(45, 45, 134)
}
img {
    height: 500px;
    width:1340px;
}
p {
    line-height:1
}